@import "bootstrap/functions";
@import "bootstrap/variables";

$font-family-base:'Helvetica';
$badge-font-weight: 300;
$badge-color: #495057;

$theme-colors: () !default;
$theme-colors: map-merge($theme-colors, ("morado": rgba(59, 73, 223),
    "dark-morado": rgba(47, 58, 178),
    "ghost-morado": rgba(59, 73, 223, 0.1),
    "dark-grey": $gray-800,
    "light-grey": $gray-100,
    "ghost": #3d3d3d,
    "border": #495057,
    "title": $gray-900,
    "fondo": #F5F5F5,

  ));

$spacer: 1rem !default;
$spacers: map-merge($spacers, (6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
    11: $spacer * 9,

  ));

$font-sizes: ("sm":$font-size-base * .75,
  "m": $font-size-base * .9,
  "reactions": $font-size-base * .95,
  6: $font-size-base * 1.15);

$position-values: ("nerd": 0,
  "heart": 11%,
  "cat": 22%,
  "gift": 33%, );

@import "bootstrap/mixins";
@import "bootstrap/bootstrap.scss";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-dark-morado {
  color: RGBA(var(--bs-dark-grey-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: none !important;
}


.link-dark-morado:hover,
.link-dark-morado:focus {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: none;
}

.link-title {
  color: RGBA(var(--bs-title-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: none !important;
}


.link-title:hover,
.link-title:focus {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: none;
}

// .container-lateral {
//   justify-content: center;
//   height: 400px;
//   border-radius: 5px;
//  background-color: #fff;
// }


.btn-ghost-morado {
  --bs-btn-bg: transparent;
  --bs-btn-hover-bg: rgba(59, 73, 223, 0.1);
  --bs-btn-focus-shadow-rgb: 210, 213, 248;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(10, 13, 39, 0.28);
  --bs-btn-active-border-color: rgba(8, 10, 30, 0.325);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(59, 73, 223, 0.1);
  --bs-btn-disabled-border-color: rgba(59, 73, 223, 0.1);
  color: RGBA(var(--bs-dark-grey-rgb), var(--bs-link-opacity, 1)) !important;
  border: 0;
  text-decoration: none;
}



.btn-ghost-morado:hover {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: underline;
}


.btn-ghost {
  --bs-btn-color: #3d3d3d;
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: #090909;
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.035);
  border: 0;
  text-decoration: none;

}

.btn-border {
  --bs-btn-color: #3d3d3d;
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: #090909;
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.035);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: rgba(10, 13, 39, 0.28);
  text-decoration: none;
  padding: 1;

}

.btn-morado {
  --bs-btn-color: $dark-grey;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #323ebe;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 88, 100, 228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2f3ab2;
  --bs-btn-active-border-color: #2c37a7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(59, 73, 223);
  --bs-btn-disabled-border-color: rgb(59, 73, 223);
}
.page-inside {
  margin-bottom: 125px;
}

.button-login {
  color: #000;
  border: none;
  width: 100px;
  height: 100%;
  padding: 0;
  margin: 0;
}

.button-login:hover {
  background-color:#F3F2F6;
  color: #67A3FA;
  text-decoration: underline;
 }

 .button-create-account:hover {
  font-weight: bolder;
  text-decoration: underline;
 }

 .negritas {
  font-size: 22px;
  font-weight: bold;
 }

// card lateral
.barra-lateral {
  width: 5000px;
  
}


.card-lateral {
 background-color: #fff;
 padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.card-lateral p {
  margin: 10px 0;
}

.card-lateral p strong {
  font-weight: bold;
}

.btn-create-lateral {
  background-color: #fff;
  color: #007bff;
  border: 2px solid #007bff;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}


.btn-create-lateral:hover {
  background-color: #007bff;
  color: #fff;
}


.modo-top {
padding-top:20px;
}


.asidi-p {
  font-size: 14px;
  color: #8d8f91;
}

.fecha {
  margin-top: -5px;
}
