@import "bootstrap/functions";
@import "bootstrap/variables";

$font-family-base:'Helvetica';
$badge-font-weight: 300;
$badge-color: #495057;

$theme-colors: () !default;
$theme-colors: map-merge($theme-colors, ("morado": rgba(59, 73, 223),
        "dark-morado": rgba(47, 58, 178),
        "dark-grey": $gray-700,

    ));


@import "bootstrap/mixins";
@import "bootstrap/bootstrap.scss";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*.no-border {
        border: none !important;
      }
      .margen-left {
        margin-left: 39px;
      }
      .btn-hover-fill {
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .btn-hover-fill:hover {
        background-color: #333; Color de fondo al hacer hover 
        color: #fff; Color del texto al hacer hover
      }*/