@import "bootstrap/functions";
@import "bootstrap/variables";

$font-family-base:'Helvetica';
$badge-font-weight: 300;
$badge-color: #495057;

$theme-colors: () !default;
$theme-colors: map-merge($theme-colors, ("morado": rgba(59, 73, 223),
    "dark-morado": rgba(47, 58, 178),
    "ghost-morado": rgba(59, 73, 223, 0.1),
    "dark-grey": $gray-800,
    "light-grey": $gray-100,
    "ghost": #3d3d3d,
    "border": #495057,
    "title": $gray-900,
    "fondo": #F5F5F5,

  ));

$spacer: 1rem !default;
$spacers: map-merge($spacers, (6: $spacer * 4,
    7: $spacer * 5,
    8: $spacer * 6,
    9: $spacer * 7,
    10: $spacer * 8,
    11: $spacer * 9,

  ));

$font-sizes: ("sm":$font-size-base * .75,
  "m": $font-size-base * .9,
  "reactions": $font-size-base * .95,
  6: $font-size-base * 1.15);

$position-values: ("nerd": 0,
  "heart": 11%,
  "cat": 22%,
  "gift": 33%, );

@import "bootstrap/mixins";
@import "bootstrap/bootstrap.scss";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.link-dark-morado {
  color: RGBA(var(--bs-dark-grey-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: none !important;
}


.link-dark-morado:hover,
.link-dark-morado:focus {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: none;
}

.link-title {
  color: RGBA(var(--bs-title-rgb), var(--bs-link-opacity, 1)) !important;
  text-decoration: none !important;
}


.link-title:hover,
.link-title:focus {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: none;
}


.btn-ghost-morado {
  --bs-btn-bg: transparent;
  --bs-btn-hover-bg: rgba(59, 73, 223, 0.1);
  --bs-btn-focus-shadow-rgb: 210, 213, 248;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgba(10, 13, 39, 0.28);
  --bs-btn-active-border-color: rgba(8, 10, 30, 0.325);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgba(59, 73, 223, 0.1);
  --bs-btn-disabled-border-color: rgba(59, 73, 223, 0.1);
  color: RGBA(var(--bs-dark-grey-rgb), var(--bs-link-opacity, 1)) !important;
  border: 0;
  text-decoration: none;
}



.btn-ghost-morado:hover {
  color: RGBA(38, 46, 142, var(--bs-link-opacity, 1)) !important;
  text-decoration: underline;
}


.btn-ghost {
  --bs-btn-color: #3d3d3d;
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: #090909;
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.035);
  border: 0;
  text-decoration: none;

}

.btn-border {
  --bs-btn-color: #3d3d3d;
  --bs-btn-bg: transparent;
  --bs-btn-hover-color: #090909;
  --bs-btn-hover-bg: rgba(0, 0, 0, 0.035);
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: rgba(10, 13, 39, 0.28);
  text-decoration: none;
  padding: 1;

}

.btn-morado {
  --bs-btn-color: $dark-grey;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-color: #323ebe;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #fff;
  --bs-btn-focus-shadow-rgb: 88, 100, 228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #2f3ab2;
  --bs-btn-active-border-color: #2c37a7;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(59, 73, 223);
  --bs-btn-disabled-border-color: rgb(59, 73, 223);
}

.fecha {
  margin-top: -5px;
}



/*.no-border {
        border: none !important;
      }
      .margen-left {
        margin-left: 39px;
      }
      .btn-hover-fill {
        transition: background-color 0.3s ease, color 0.3s ease;
      }

      .btn-hover-fill:hover {
        background-color: #333; Color de fondo al hacer hover 
        color: #fff; Color del texto al hacer hover
      }*/